{% extends "base.html" %}

{% block title %}Appointments{% endblock %}

{% set currentvar = 'appointments' %}

{% block content %}

{% if medstaff == '0' %}
<div class="container-fluid mt-5">

    <div class="page-header">
        <div class="row welcome text-center">
            <div class="col-6">
                <h2 class="font-weight-bold" >Upcoming appointments</h2>
            </div>
        </div>
    </div>
    
    <div class="container-fluid padding">
        <div>{{ table|safe }}</div>
    </div>

</div>

{% endif %}

{% if medstaff == '1' %}
<div class="container-fluid mt-5">
    <form class="form-signin" method="POST" action="/appointments">
        <div class="page-header">
            <div class="row welcome text-center">
                <div class="col-6">
                    <h2 class="font-weight-bold" >New appointment</h2>
                </div>
            </div>
        </div>


        <div class="jumbotron mt-5">
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <p>
                                <label for="procedure"><b>Procedure</b></label><br>
                                <input type="text" class="form-control" id="procedure" name="procedure"><br>
                            </p>

                            <p>
                                <label for="loc"><b>Location</b></label><br>
                                <input type="text" class="form-control" id="where" name="loc"><br>
                            </p>
                        </div>
                    
                        <div class="col-4">
                            <p>
                                <label><b>Appointment Date</b></label><br>
                                <input type="date" class="form-control" name="date" required><br>
                            </p>
            
                            <p>
                                <label><b>Appointment Time</b></label><br>
                                <input type="time" class="form-control" name="time" required><br>
                            </p>
                        </div>

                        <div class="col-4">
                            <p>
                                <label for="link"><b>Link to explanatory Video</b></label><br>
                                <input type="url" class="form-control" id="link" name="link"><br>
                            </p>

                            <p>
                                <label for="addinfo"><b>Additional Info</b></label><br>
                                <input type="text" class="form-control" id="addinfo" name="addinfo"><br>
                            </p>
                        </div> 
                    </div>
                    <br>
                    <input type="hidden" name="btn_identifier" value="newentrybutton" />
                    <input type="submit" value="Save Entry" class="btn btn-info btn-lg btn-block">
                </div>
            </div>
        </div>
    </form>
</div>

  
<div class="container-fluid padding">
    <div>{{ table|safe }}</div>
</div>

<div class="container">
    <form method="POST" action="/appointments">
    <div class="form-group row">
        <div class="col-sm-9">
          <input type="text" name="entryid" class="form-control form-control-lg" id="colFormLabelLg" placeholder="Type in Appointment ID according to the table above to delete">
        </div>
        <input type="hidden" name="btn_identifier" value="deletebutton" />
        <input type="submit" value="Delete Entry" class="btn btn-danger">
      </div>
    </form>
</div>

{% endif %}

{% endblock %}