{% extends "base.html" %}

{% block title %}Appointments{% endblock %}

{% set currentvar = 'appointments' %}

{% block content %}

<h1>An Overview over your current appointments and upcoming procedures</h1>
<p>Here you'll be able to see a nice list soon!</p>

{% if medstaff == 'TRUE' %}
<h1>Add a new appointment here</h1>
<input type="button" value="Load from EMR"><br><br>
<label for="smptms">Type in Patient ID:</label><br>
<input type="text" id="smptms" required><br>
<label for="smptms">Type in Patient Name:</label><br>
<input type="text" id="smptms" required><br>
<label for="smptms">Appointment Time</label><br>
<input type="datetime" id="quantity" name="quantity" required><br>
<label for="smptms">Procedure</label><br>
<input type="text" id="quantity" name="quantity" required><br>
<label for="smptms">Location</label><br>
<input type="text" id="quantity" name="quantity" required><br>
<label for="smptms">Additional Information</label><br>
<input type="text" id="quantity" name="quantity"><br>
<label for="smptms">Recurring?</label><br>
<input type="checkbox" id="quantity" name="quantity"><br>
<input type="submit">
{% endif %}

{% endblock %}