{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% set currentvar = 'dashboard' %}

{% block content %}
<div class="container-fluid mt-5">
    <!-- <form action="/history" METHOD="POST" oninput="rangevalue.value = quantity.valueAsNumber"> -->
    <div class="page-header">
        <div class="row welcome text-center">
            <div class="col-6">
                <h2 class="font-weight-bold" >Welcome! <small>Please choose a patient before proceeding</small></h2><br>
            </div>
        </div>
    </div>

    <div class="container-fluid padding">
        <div>{{ table|safe }}</div>
    </div>

    <div class="container">
        <form method="POST" action="/dashboard">
        <div class="form-group row">
            <div class="col-sm-9">
            <input type="text" name="patid" class="form-control form-control-lg" id="colFormLabelLg" placeholder="Choose Patient ID from the table above to proceed">
            </div>
            <input type="hidden" name="btn_identifier" value="entrybutton" />
            <input type="submit" value="Choose Patient" class="btn btn-info">
        </div>
        </form>
    </div>

</div>

<!-- <form method="POST" action="/dashboard">
    <p>
        <label for="patid">Type in Patient ID:</label><br>
        <input type="text" name="patid" ><br>
    </p>
    <input type="hidden" name="btn_identifier" value="entrybutton" />
    <input type="submit" value="Submit" class="btn btn-secondary">
</form> -->



{% endblock %}