{% extends "base.html" %}

{% block title %}History{% endblock %}

{% set currentvar = 'history' %}

{% block content %}

{% if medstaff == '0' %}

<div class="container-fluid mt-5">

    <form action="/history" METHOD="POST" oninput="rangevalue.value = quantity.valueAsNumber">

        <div class="page-header">
            <div class="row welcome text-center">
                <div class="col-6">
                    <h2 class="font-weight-bold" >How are you feeling?</h2>
                </div>
            </div>
        </div>

        <div class="jumbotron mt-5">
            <div class="container-fluid">
                <div class="row welcome text-center">
                    <div class="col-11">
                        <h1 ckass="display-4"><small class="text-muted">Right now my wellbeing is a </small><output class="font-weight-bold" name="rangevalue" for="quantity">5</output><small class="text-muted"> out of 10</small></h1>
                    </div>
                </div>
            </div>

        
            <div class="container mt-5">
                <div class="form-group">
                    <input type="range" class ="form-control-range" id="quantity" name="quantity" min="0" max="10" value="5" step="1">
                </div>
                <br>
                <div class="form-group">
                    <textarea class="form-control" id="smptms" placeholder="Type in symptoms" name="symptoms" rows="3"></textarea>
                </div>
                <br>
                <input type="hidden" name="btn_identifier" value="newentrybutton" />
                <input class="btn btn-info btn-lg btn-block" type="submit" value="Save Entry">
            </div>
        </div>

        
    </form>
</div>


<div class="container-fluid padding">
    <div>{{ graph|safe }}</div>
    <div>{{ table|safe }}</div>
</div>

{% endif %}

{% if medstaff == '1' %}

<div class="container-fluid mt-5">

    <form action="/history" METHOD="POST" oninput="rangevalue.value = quantity.valueAsNumber">

        <div class="page-header">
            <div class="row welcome text-center">
                <div class="col-6">
                    <h2 class="font-weight-bold" >How is the patient feeling?</h2>
                </div>
            </div>
        </div>

        <div class="jumbotron mt-5">
            <div class="container-fluid">
                <div class="row welcome text-center">
                    <div class="col-12">
                        <h1 ckass="display-4"><small class="text-muted">Right now the patient's wellbeing is a </small><output class="font-weight-bold" name="rangevalue" for="quantity">5</output><small class="text-muted"> out of 10</small></h1>
                    </div>
                </div>
            </div>
        
            <div class="container mt-5">
                <div class="form-group">
                    <input type="range" class ="form-control-range" id="quantity" name="quantity" min="0" max="10" value="5" step="1">
                </div>
                <br>
                <div class="form-group">
                    <textarea class="form-control" id="smptms" placeholder="Type in symptoms" name="symptoms" rows="3"></textarea>
                </div>
                <br>
                <input type="hidden" name="btn_identifier" value="newentrybutton" />
                <input class="btn btn-info btn-lg btn-block" type="submit" value="Save Entry">
            </div>
        </div>
       
    </form>
</div>


<div class="container-fluid padding">
    <div>{{ graph|safe }}</div>
    <div>{{ table|safe }}</div>
</div>

<div class="container">
    <form method="POST" action="/history">
    <div class="form-group row">
        <div class="col-sm-9">
          <input type="text" name="entryid" class="form-control form-control-lg" id="colFormLabelLg" placeholder="Type in Entry ID according to the table above to delete">
        </div>
        <input type="hidden" name="btn_identifier" value="deletebutton" />
        <input type="submit" value="Delete Entry" class="btn btn-danger">
      </div>
    </form>
</div>

{% endif %}

{% endblock %}