{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% set currentvar = 'login' %}

{% block content %}

<div class="container-fluid mt-5">

  <form class="form-login" method="POST" action="/login">
    <div class="page-header">
      <div class="row welcome text-center">
          <div class="col-6">
              <h2 class="font-weight-bold" >Please log in</h2>
          </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col-3">
          <p>  
          <label for="email"><b>Email</b></label><br>
            <input type="email" placeholder="Enter Email" name="email" required>
          </p>
        
          <p>
            <label for="psw"><b>Password</b></label><br>
            <input type="password" placeholder="Enter Password" name="psw" required>
          </p>
        </div>
      </div>

    <div class="clearfix">
      <button type="submit" class="btn btn-info btn-lg">Login</button>

  </form>
</div>  

{% if msg == '1' %}
<div class="alert alert-danger" role="alert">
  Incorrect Password.
</div>
{% endif %}

{% if msg == '2' %}
<div class="alert alert-danger" role="alert">
  No account with this e-mail address exists.
</div>
{% endif %}

{% endblock %}