{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% set currentvar = 'login' %}

{% block content %}

<h1>Please log-in with your credentials</h1>
<form class="form-signin" method="POST" action="/login">
    {{ form.hidden_tag() }}
    <label for="username">Username:</label><br>
    {{ form.username }}<br/>
    <label for="pwd1">Password:</label><br>
    {{ form.password }}<br/>
    <label for="rememberme">Remember me?</label>
    {{ form.remember }}<br/>
    <input type="submit" value="Login">
</form>

{% endblock %}