{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% set currentvar = 'medical signup' %}

{% block content %}
<div class="container mt-5">

  <div class="page-header">
      <h1>Sign up for medical staff</h1>
  </div>
<form class="form-signin" method="POST" action="/medauth">
  <p>  
  <label for="email"><b>Email</b></label><br>
    <input type="text" placeholder="Enter Email" name="email" required>
  </p>

  <p>
    <label for="psw"><b>Password</b></label><br>
    <input type="password" placeholder="Enter Password" name="psw" required>
  </p>

  <p>
    <label for="psw-repeat"><b>Repeat Password</b></label><br>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
  </p>

  <p>
    <label for="psw-repeat"><b>Authentication number</b></label><br>
    <input type="password" placeholder="Enter Password" name="authnum" required>
  </p>


    <div class="clearfix">
      <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>


    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>
</form>

<div class="container mt-5">
<button type="button" class="btn btn-secondary" onclick="window.location.href='/signup';">Are you a patient?</button>
</div>
</div>

{% if msg == '1' %}
<div class="alert alert-danger" role="alert">
  An account with this e-mail address already exists.
</div>
{% endif %}

{% if msg == '2' %}
<div class="alert alert-danger" role="alert">
  Passwords did not match.
</div>
{% endif %}

{% if msg == '3' %}
<div class="alert alert-danger" role="alert">
  Authentication number incorrect.
</div>
{% endif %}

{% if msg == '4' %}
<div class="alert alert-success" role="alert">
  Account has been created successfully, please <a href='/login'>log in</a>.
</div>
{% endif %}

{% endblock %}
