{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% set currentvar = 'medical signup' %}

{% block content %}
<div class="container-fluid mt-5">

  <form class="form-signin" method="POST" action="/medauth">
    <div class="page-header">
      <div class="row welcome text-center">
          <div class="col-6">
              <h2 class="font-weight-bold" >Sign Up: Medical Staff</h2>
          </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col-3">
          <p>  
          <label for="email"><b>Email</b></label><br>
            <input type="email" placeholder="Enter Email" name="email" required>
          </p>
        
          <p>
            <label for="psw"><b>Password</b></label><br>
            <input type="password" placeholder="Enter Password" name="psw" required>
          </p>
        
          <p>
            <label for="psw-repeat"><b>Repeat Password</b></label><br>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
          </p>

          <p>
            <label for="firstname"><b>First Name</b></label><br>
            <input type="text" placeholder="Enter First Name" name="firstname" required>
          </p>
        
          <p>
            <label for="lastname"><b>Last Name</b></label><br>
            <input type="text" placeholder="Enter Last Name" name="lastname" required>
          </p>

        </div>
        <div class="col-6">
            
          <p>
            <label for="psw-repeat"><b>Authentication number</b></label><br>
            <input type="password" placeholder="Enter Password" name="authnum" required>
          </p>

          <p>
            <label for="title"><b>Title/Function</b></label><br>
            <input type="radio" id="MD" name="title" value="MD">
            <label for="MD">MD</label><br>
            <input type="radio" id="Nurse" name="title" value="Nurse">
            <label for="Nurse">Nurse</label><br>
            <input type="radio" id="Therapist" name="title" value="Therapist">
            <label for="Therapist">Therapist</label>
          </p>
        </div>
      </div>

      <div class="container mt-5">
        <div class="row">
          <div class="col-3">
            <button type="submit" class="btn btn-info btn-lg btn-block">Sign Up</button>
          </div>
  </form>

          <div class="col-3">
            <button type="button" class="btn btn-secondary btn-block" onclick="window.location.href='/signup';">Are you a patient?</button>
          </div>
        </div>
      </div>
</div>


{% if msg == '1' %}
<div class="alert alert-danger" role="alert">
  An account with this e-mail address already exists.
</div>
{% endif %}

{% if msg == '2' %}
<div class="alert alert-danger" role="alert">
  Passwords did not match.
</div>
{% endif %}

{% if msg == '3' %}
<div class="alert alert-danger" role="alert">
  Authentication number incorrect.
</div>
{% endif %}

{% if msg == '4' %}
<div class="alert alert-success" role="alert">
  Account has been created successfully, please <a href='/login'>log in</a>.
</div>
{% endif %}

{% endblock %}
