{% extends "base.html" %}

{% block title %}Medication{% endblock %}

{% set currentvar = 'medication' %}

{% block content %}

{% if medstaff == '0' %}
<div class="container-fluid mt-5">

    <div class="page-header">
        <div class="row welcome text-center">
            <div class="col-6">
                <h2 class="font-weight-bold" >Current medication</h2>
            </div>
        </div>
    </div>
    
    <div class="container-fluid padding">
        <div>{{ table|safe }}</div>
    </div>

</div>
{% endif %}

{% if medstaff == '1' %}
<div class="container-fluid mt-5">
    <form method="POST" action="/medication">
        <div class="page-header">
            <div class="row welcome text-center">
                <div class="col-6">
                    <h2 class="font-weight-bold" >New medication</h2>
                </div>
            </div>
        </div>

        
        <div class="jumbotron mt-5">
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <p>
                                <label><b>Medication name</b></label><br>
                                <input type="text" class="form-control" name="medname" required><br>
                            </p>

                            <p>
                                <label><b>Brand</b></label><br>
                                <input type="text" class="form-control" name="medbrand" required><br>
                            </p>

                            <p>
                                <label><b>Administer route</b></label><br>
                                <input type="text" class="form-control" name="admroute" required><br>
                            </p>

                            <p>
                                <label><b>Dose</b></label><br>
                                <input type="text" class="form-control" name="dose" required><br>
                            </p>

                            <p>
                                <label><b>Indication</b></label><br>
                                <input type="text" class="form-control" name ="indic" id="smptms"><br>
                            </p>
                        </div>

                        <div class="col-6">
                            <p>
                                <label><b>Morning</b></label><br>
                                <input type="number" id="quantity" class="form-control" name="morning" min="0" step="0.25" required><br>
                            </p>
                            
                            <p>
                                <label><b>Noon</b></label><br>
                                <input type="number" id="quantity" class="form-control" name="noon" min="0" step="0.25" required><br>
                            </p>
                            
                            <p>
                                <label><b>Evening</b></label><br>
                                <input type="number" id="quantity" class="form-control" name="evening" min="0" step="0.25" required><br>
                            </p>
                            
                            <p>
                                <label><b>Night</b></label><br>
                                <input type="number" id="quantity" class="form-control" name="night" min="0" step="0.25" required><br>
                            </p>

                                                    
                            <p>
                                <label><b>Additional Information</b></label><br>
                                <input type="text" class="form-control" name="addinfo"><br>
                            </p>
                        </div>
                        <br>
                        <input type="hidden" name="btn_identifier" value="newentrybutton" />
                        <input type="submit" value="Save Entry" class="btn btn-info btn-lg btn-block">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container-fluid padding">
    <div>{{ table|safe }}</div>
</div>

<div class="container">
    <form method="POST" action="/medication">
    <div class="form-group row">
        <div class="col-sm-9">
          <input type="text" name="entryid" class="form-control form-control-lg" id="colFormLabelLg" placeholder="Type in Medication ID according to the table above to delete">
        </div>
        <input type="hidden" name="btn_identifier" value="deletebutton" />
        <input type="submit" value="Delete Entry" class="btn btn-danger">
      </div>
    </form>
</div>

{% endif %}

{% endblock %}