{% extends "base.html" %}

{% block title %}Medication{% endblock %}

{% set currentvar = 'medication' %}

{% block content %}

{% if medstaff == '0' %}
<div class="container mt-5">

    <div class="page-header">
        <h1>Your current medication</h1>
    </div>
    <div class="container">{{ table|safe }}</div>
</div>
{% endif %}

{% if medstaff == '1' %}

<div class="container mt-5">

    <div class="page-header">
        <h1>Add new medication</h1>
    </div>

<form method="POST" action="/medication">
   
    <p>
    <label>Name of medication</label><br>
    <input type="text" name="medname" required><br>
    </p>

    <p><label>Brand</label><br>
    <input type="text" name="medbrand" required><br>
    </p>

    <p>
    <label>Administer route</label><br>
    <input type="text" name="admroute" required><br>
    </p>

    <p>
    <label>Dose</label><br>
    <input type="text" name="dose" required><br>
    </p>

    <p>
    <label>Indication</label><br>
    <input type="text" name ="indic" id="smptms"><br>
    </p>
    
    <p>
    <label>Morning</label><br>
    <input type="number" id="quantity" name="morning" min="0" step="0.25" required><br>
    </p>
    
    <p>
    <label>Noon</label><br>
    <input type="number" id="quantity" name="noon" min="0" step="0.25" required><br>
    </p>
    
    <p><label>Evening</label><br>
    <input type="number" id="quantity" name="evening" min="0" step="0.25" required><br>
    </p>
    
    <p>
    <label>Night</label><br>
    <input type="number" id="quantity" name="night" min="0" step="0.25" required><br>
    </p>

    <p>
    <label>Additional Information</label><br>
    <input type="text" name="addinfo"><br>
    </p>

    <input type="hidden" name="btn_identifier" value="newentrybutton" />
        <input type="submit" value="Submit Entry" class="btn btn-secondary">
    <!-- <input type="submit" name="btn" value="Show Table"> -->
</form>
</div>

<div class="container mt-5">

    <div class="page-header">
        <h1>Current medication</h1>
    </div>
    <div class="container">{{ table|safe }}</div>
</div>

<div class="container mt-5">

    <form method="POST" action="/medication">
        <p>
            <label for="entryid">Type in Medication ID:</label><br>
            <input type="text" name="entryid" ><br>
        </p>
        <!-- <input type="submit" value="Show Graph and Table" class="btn btn-secondary"> -->
        <input type="hidden" name="btn_identifier" value="deletebutton" />
        <input type="submit" value="Delete Entry" class="btn btn-secondary">
    </form>

</div>

{% endif %}

{% endblock %}