{% extends "base.html" %}

{% block title %}Medication{% endblock %}

{% set currentvar = 'medication' %}

{% block content %}

{% if medstaff == '0' %}
<div class="container mt-5">

    <div class="page-header">
        <h1>Your current medication</h1>
    </div>
    <div class="container">{{ table|safe }}</div>
</div>
{% endif %}

{% if medstaff == '1' and showtable == '1' %}
<div class="container mt-5">

    <div class="page-header">
        <h1>Current medication</h1>
    </div>
    <div class="container">{{ table|safe }}</div>
</div>
{% endif %}

{% if medstaff == '1' %}
<div class="container mt-5">

    <div class="page-header">
        <h1>Add a new pharmaceutical here:</h1>
    </div>

<form method="POST" action="/medication">
    <!-- <input type="button" value="Load from EMR"><br><br> -->
    <p>
    <label>Patient ID</label><br>
    <input type="text" name="patid" required><br>
    </p>
    
    <p>
    <label>Name of medication</label><br>
    <input type="text" name="medname" required><br>
    </p>

    <p><label>Brand</label><br>
    <input type="text" name="medbrand" required><br>
    </p>

    <p>
    <label>Administer route</label><br>
    <input type="text" name="admroute" required><br>
    </p>

    <p>
    <label>Dose</label><br>
    <input type="text" name="dose" required><br>
    </p>

    <p>
    <label>Indication</label><br>
    <input type="text" name ="indic" id="smptms"><br>
    </p>
    
    <p>
    <label>Morning</label><br>
    <input type="number" id="quantity" name="morning" min="0" step="0.25" required><br>
    </p>

    <!-- <label>Forenoon</label><br>
    <input type="number" id="quantity" name="quantity" min="0" step="0.25"><br> -->
    <p>
    <label>Noon</label><br>
    <input type="number" id="quantity" name="noon" min="0" step="0.25" required><br>
    </p>
    <!-- <label>Afternoon</label><br>
    <input type="number" id="quantity" name="quantity" min="0" step="0.25"><br> -->
    <p><label>Evening</label><br>
    <input type="number" id="quantity" name="evening" min="0" step="0.25" required><br>
    </p>
    
    <p>
    <label>Night</label><br>
    <input type="number" id="quantity" name="night" min="0" step="0.25" required><br>
    </p>

    <p>
    <label>Additional Information</label><br>
    <input type="text" name="addinfo"><br>
    </p>

    <input type="submit" class="btn btn-primary btn-lg" name="btn" value="Submit">
    <!-- <input type="submit" name="btn" value="Show Table"> -->
</form>
</div>
{% endif %}

{% endblock %}