{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% set currentvar = 'signup' %}

{% block content %}
<h1>Please sign up with your credentials</h1>
<form class="form-signin" method="POST" action="/signup">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

    <label>
    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>

    <label>
    <input type="checkbox" name="medstaff" style="margin-bottom:15px"> Are you a medical professional working in this hospital? 
    </label>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Sign Up</button>
</form>

<!-- <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/staffconfirm';">Are you Medical Staff?</button> -->

{% if msg == '1' %}
<div class="alert alert-danger" role="alert">
  An account with this e-mail address already exists.
</div>
{% endif %}

{% if msg == '2' %}
<div class="alert alert-danger" role="alert">
  Passwords did not match.
</div>
{% endif %}

{% endblock %}
