{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% set currentvar = 'signup' %}

{% block content %}

<h1>Please sign up with your credentials</h1>
<form class="form-signin" method="POST" action="/signup">
    {{ form.hidden_tag() }}
    <label for="username">Username:</label><br>
    {{ form.username }}<br/>
    <label for="email">E-Mail:</label><br>
    {{ form.email }}<br/>
    <label for="pwd1">Password:</label><br>
    {{ form.password1 }}<br/>
    <label for="pwd2">Please confirm password:</label><br>
    {{ form.password2 }}<br/>
    <label for="medstaff"> Are you a medical professional working in this hospital?</label>{{ form.mptoggle }}<br/>
    <input type="submit">
</form>

{% endblock %}
