{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<h1>Please sign up with your credentials</h1>
<form>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="pwd1">Password:</label><br>
    <input type="password" id="pwd1" name="pwd1"><br>
    <label for="pwd2">Please confirm password:</label><br>
    <input type="password" id="pwd2" name="pwd2"><br>
    <input type="checkbox" id="medstaff" name="medstaff" value="Boat">
    <label for="medstaff"> Are you a medical professional working in this hospital?</label><br>
    <input type="submit">
</form>

{% endblock %}
